.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  height: 55vh;
  width: 50vw;
  max-width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-content h2 {
  margin-bottom: 0;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s ease;
  box-sizing: border-box;
}

.modal-content input:focus {
  border-color: #007bff;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}

.modal-actions button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  transition: background 0.2s ease;
}


.modal-actions button[type="button"] {
  background: #f0f0f0;
  color: #333;
}

.modal-actions button[type="button"]:hover {
  background: #e0e0e0;
}


.modal-actions button[type="submit"] {
  background: #007bff;
  color: white;
}

.modal-actions button[type="submit"]:hover {
  background: #0056b3;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-15px);
    }
}
